/* Your CSS Code here. */
.holder{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.green{
	background-color:green;
	width:100px;
	height:100px;
	font-size:24px;
}
.red{
	background-color:red;
	width:100px;
	height:100px;
	font-size:24px;
}
.blue{
	background-color:blue;
	width:100px;
	height:100px;
	font-size:24px;
}